/* Estilo de producto */
.single__product {
    background: #141124;
    border-radius: 10px;
    cursor: pointer;
    animation: animate 1s ease-in;
    margin-bottom: 20px; /* Espacio entre productos */
    padding: 15px; /* Añadir padding para separación interna */
}

.single__product:hover {
    box-shadow: 5px 5px 10px -5px #f5b70a;
}

.product__content {
    padding: 10px 20px; /* Espaciado adicional */
    padding-bottom: 15px;
}

.product__content h5 {
    margin-top: 30px;
    font-family: Arial, sans-serif; /* Cambia el estilo de letra */
    color: #fff; /* Color blanco para el h5 */
    font-size: 1.1rem; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Espacio inferior */
    text-align: center; /* Centrado */
}

.product__content h6 {
    color: #f5b70a;
    text-align: center;
    margin-top: 10px; /* Separación superior */
}

.rating span i {
    color: #f76E11;
}

.rating {
    margin-bottom: 10px;
}

.price {
    color: #fff;
    font-size: 1rem; /* Tamaño ajustado */
    margin-top: 5px; /* Separación superior */
}

.price span {
    color: #f5b70a;
    font-size: 1.3rem;
    font-weight: 500;
}

.shopping__icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #f76E11;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Estilos para el selector de cantidad */
.single__product .quantity-selector {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single__product .quantity-selector label {
    color: #fff;
    font-weight: bold;
    margin-right: 8px;
}

.single__product .quantity-selector input {
    width: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
}

/* Estilo para el botón de reservar */
.btn-reservar {
    background-color: #f76E11;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-reservar:hover {
    background-color: #d49f0e;
}

/* Formulario de reserva */
.reservation-form {
    margin-top: 15px;
    padding: 15px;
    background-color: #242424;
    border-radius: 5px;
}

.reservation-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.reservation-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px; /* Espacio entre inputs */
}

.btn-submit {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #f76E11;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #d49f0e;
}

/* Contenedor del formulario de reserva */
.reservation-form-container {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4444;
    color: #141124;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.btn-close:hover {
    text-decoration: underline;
}

/* Animación */
@keyframes animate {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Responsive */
@media only screen and (max-width: 767px) {
    .product__content h6 {
        font-size: 0.9rem;
    }
    .price {
        font-size: 0.8rem;
    }
    .price span {
        font-size: 0.9rem;
    }
}
